body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(20, 29, 38);;
}

#main-content {
    display: grid;
    grid-template-columns: 45vw 45vw;
    justify-content: space-evenly;
}

h4 {
    margin: 0;
    padding-bottom: 12px;
    font-size: 24px;
}

p {
    font-weight: 100;
    color: #3d3c3c;
}

.temp {
    font-size: 36px;
}

.tab {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: aliceblue;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    margin: 8px;
    margin-top: 36px;
    border-radius: 10px;
    height: 50px;
}

.tab > * {
    font-family: 'Nunito', sans-serif;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    width: 34%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: white;
    background-color: #2196F3;
}

/* Create an active/current tablink class */
.tab button.active {
    color: white;
    background-color: #2196F3;
}

/* Style the tab content */
.tabcontent-A, .tabcontent-B {
    display: none;
    background-color: inherit;
    justify-items: center;
    border-radius: 10px;
    margin-top: 24px;
}

#FAN-A, #FAN-B {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    display: grid;
    margin: 16px;
    background-color: aliceblue;
    background-blend-mode: luminosity;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 16px;
    width: 70%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
@media only screen and (max-width: 600px) {
    #main-content {
        grid-template-columns: 95%;
    }
}